body {
  margin: 0;
  padding: 0;
  height: 100vh;
   background-image: url('img/IMG mocidade.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% auto; /* ou 'contain' dependendo do que quiser */
  background-color: rgba(168, 165, 165, 0.274);
  background-attachment: fixed;
   }


/* Leyout Letra de hino  */


.botao_voltar {
      display: inline-block;
      padding: 10px 15px;
      background-color: rgb(240, 200, 70);
      border-radius: 10px;
      text-decoration: none;
      color: black;
      font-size: 22px;
      margin: 1rem;
    }

.central_letra {
    display: flex;
    flex-direction: column;
    text-align: left;
    
    align-items: center;
    padding-left: 3rem;
    
  
}

.Titulo_Hino {
  font-size: 5.5rem;
   color:rgb(255, 197, 8);
}

.Letra_hino {

    font-size: 2.5rem;
}

.destaque_masculino {
    color: rgb(102, 102, 189);
}
.destaque_feminino {
    color: rgb(134, 92, 92);
}

.destaque_coro {
    color: rgb(168, 122, 23);

}

.destaque_solo {
    color: rgb(184, 184, 49);
}

.destaque_soprano {
    color: rgb(180, 118, 238);
}

.destaque_tenor {
    color: maroon;
}

.destaque_contralto {
    color: blue;
}

.butons_redireciona {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14rem;
    font-size: 3rem;
    padding-bottom: 8rem;
    
}

.Buton_2, .Buton_20 {
    text-decoration: none;
background-color: rgb(240, 200, 70);
border-radius: 1rem;
width: 20rem;
height: 5rem;

display: flex;
justify-content: center;
align-items: center;

margin: 1rem auto;
color: #333; /* cor do texto */
font-family: 'Segoe UI', sans-serif;
font-size: 2rem;
font-weight: bold;

box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
transition: all 0.3s ease;
cursor: pointer;
border: none;

}   
.butons_redireciona  :hover {
  background-color: rgb(255, 215, 90);
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

 
